@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "sky-reg";
    src: url("./sky_reg-webfont.woff");
}

@font-face {
    font-family: "sky-bold";
    src: url("./sky_bold-webfont.woff");
}

@layer base {
    body {
        @apply font-skyreg;
    }
}